body {
      text-align: center;
      background: url("https://www.google.co.uk/imgres?imgurl=https%3A%2F%2Fdata.whicdn.com%2Fimages%2F115786903%2Fsuperthumb.png&imgrefurl=https%3A%2F%2Fweheartit.com%2FCarmenphuah_%2Fcollections%2F16125550-ombre&docid=VSNbMSoBHZQ4hM&tbnid=eY3dIvVQ4auxVM%3A&vet=10ahUKEwj_1vzJpufZAhWkDMAKHW1xBNs4ZBAzCA4oDDAM..i&w=300&h=250&bih=782&biw=1368&q=ombre%20background&ved=0ahUKEwj_1vzJpufZAhWkDMAKHW1xBNs4ZBAzCA4oDDAM&iact=mrc&uact=8");
      background-size: cover;
      background-position: center;
      color: white;
      font-family: 'Montserrat', sans-serif;
    }
      input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
    input[type="submit"] {
      background: hotpink;
      color: white;
    }
