body {
      text-align: center;
      background: url("https://decorazioniperlacasa.site/tag/yellow-aesthetic-computer-background.html");
      background-size: cover;
      background-position: center;
      color: white;
      font-family: 'Montserrat', sans-serif;
    }
      input {
      border: 0;
      padding: 10px;
      font-size: 18px;
      font-color: grey;
    }
    input[type="submit"] {
      background: hotpink;
      color: white;
    }
